.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-group-1 {
  width: 811px;
  min-height: 214px;
  height: auto;
  margin: 355px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 21px 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -14px 0 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -12px 0 0 94px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-family: Aleo;
    font-weight: bold;
    font-size: 4.0625rem;
  }

  .u-section-1 .u-text-2 {
    font-family: Aleo;
    font-style: italic;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    font-weight: bold;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 248px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 261px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 398px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-2 .u-group-1 {
  width: 468px;
  min-height: 186px;
  height: auto;
  margin: 88px auto 0 32px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  width: 615px;
  margin: -166px 0 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 802px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-icon-1 {
  height: 60px;
  width: 60px;
  margin: 18px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-icon-2 {
  height: 60px;
  width: 60px;
  margin: 18px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 22px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-icon-3 {
  height: 60px;
  width: 60px;
  margin: 18px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-2 .u-icon-4 {
  height: 60px;
  width: 60px;
  margin: 18px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 22px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px;
}

.u-section-2 .u-icon-5 {
  height: 60px;
  width: 60px;
  margin: 18px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 22px 0 0;
}

.u-section-2 .u-icon-6 {
  width: 45px;
  height: 44px;
  background-image: none;
  margin: 37px auto 60px 525px;
}

@media (max-width: 1199px) {

  /* Custom fixes */
  .kb-column-fix-1 {
    padding-bottom: 200px !important;
  }

  /* End custom fixes */
  .u-section-2 .u-group-1 {
    width: 349px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    font-family: Aleo;
    font-style: normal;
    font-weight: bold;
    line-height: 56px;
    font-size: 2.5rem;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    margin-right: auto;
    margin-left: 32px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-2 .u-icon-5 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 163px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-icon-6 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/anne-nygard-FwRTLAjTeE0-unsplash1.jpeg");
}

.u-section-3 .u-sheet-1 {
  min-height: 575px;
}

.u-section-3 .u-text-1 {
  width: 164px;
  margin: 230px auto 0;
}

.u-section-3 .u-text-2 {
  width: 743px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-3 .u-text-1 {
    text-transform: none;
    letter-spacing: normal;
    font-style: italic;
  }

  .u-section-3 .u-text-2 {
    font-weight: bold;
    font-family: Aleo;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 171px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2206px;
}

.u-section-4 .u-group-1 {
  width: 802px;
  min-height: 2006px;
  height: auto;
  margin: 60px auto 60px 115px;
}

.u-section-4 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-family: Aleo;
  font-weight: bold;
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 50px 39px 0 54px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.375rem;
  letter-spacing: 1px;
  margin: 15px 82px 0 160px;
}

.u-section-4 .u-text-4 {
  margin: 50px 39px 0 54px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 101px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/Austin_alternative2.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 856px;
}

.u-section-5 .u-text-1 {
  margin: 366px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 50% 64.42%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 283px;
    font-family: Aleo;
    font-weight: bold;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 217px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 163px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-5 .u-text-1 {
    margin-left: auto;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 3349px;
}

.u-section-6 .u-tabs-1 {
  min-height: 3285px;
  margin-top: 66px;
  margin-bottom: 0;
  height: auto;
}

.u-section-6 .u-tab-link-1 {
  background-image: none;
}

.u-section-6 .u-tab-link-2 {
  background-image: none;
}

.u-section-6 .u-tab-link-3 {
  background-image: none;
}

.u-section-6 .u-tab-item-4 {
  margin-bottom: 0;
}

.u-section-6 .u-tab-link-4 {
  background-image: none;
}

.u-section-6 .u-tab-item-5 {
  margin-bottom: 0;
}

.u-section-6 .u-tab-link-5 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-group-1 {
  width: 1020px;
  min-height: 3140px;
  height: auto;
  margin: 100px auto 0 50px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  font-weight: bold;
  font-family: Aleo;
  font-style: normal;
  margin: 0 auto 0 0;
}

/* .u-section-6 .u-text-2 {
  margin: 50px 105px 0 115px;
} */

.u-section-6 .u-image-1 {
  height: 668px;
  width: 1000px;
  object-position: 39.05% 50%;
  margin: 50px auto 0;
}

/* .u-section-6 .u-text-3 {
  margin: 100px 105px 0 115px;
} */

.u-section-6 .u-image-2 {
  width: 1000px;
  height: 601px;
  margin: 50px auto 0 10px;
}

.u-section-6 .u-text-4 {
  margin: 20px 190px 0 20px;
}

.u-section-6 .u-text-5 {
  margin: 50px 110px 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-6 .u-text-6 {
  font-style: normal;
  font-weight: bold;
  font-family: Aleo;
  margin: 98px 190px 0 25px;
}

.u-section-6 .u-text-7 {
  width: 800px;
  margin: 32px auto 0;
}

.u-section-6 .u-image-3 {
  width: 1000px;
  height: 525px;
  margin: 50px auto 0;
}

.u-section-6 .u-text-8 {
  margin: 25px 190px 0 40px;
}

.u-section-6 .u-text-9 {
  font-weight: 700;
  width: 800px;
  margin: 50px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-10 {
  font-family: "EB Garamond";
  font-size: 1.5rem;
  width: 727px;
  margin: 50px auto 0;
}

.u-section-6 .u-text-11 {
  width: 800px;
  margin: 40px auto -132px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-6 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-6 .u-container-layout-6 {
  padding: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3606px;
  }

  .u-section-6 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-6 .u-text-2 {
    margin-right: 100px;
    margin-left: 110px;
  }

  .u-section-6 .u-image-1 {
    height: 628px;
    width: 940px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 100px;
    margin-left: 110px;
  }

  .u-section-6 .u-image-2 {
    width: 940px;
    height: 565px;
    margin-left: 0;
  }

  .u-section-6 .u-text-5 {
    margin-right: 100px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    width: 880px;
    height: 462px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 30px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3430px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    height: 481px;
    width: 720px;
  }

  .u-section-6 .u-image-2 {
    width: 720px;
    height: 433px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    width: 660px;
  }

  .u-section-6 .u-image-3 {
    width: 660px;
    height: 347px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 0;
  }

  .u-section-6 .u-text-9 {
    width: 660px;
  }

  .u-section-6 .u-text-10 {
    width: 660px;
  }

  .u-section-6 .u-text-11 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3287px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    height: 361px;
    width: 540px;
  }

  .u-section-6 .u-image-2 {
    width: 540px;
    height: 325px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 143px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-7 {
    width: 520px;
  }

  .u-section-6 .u-image-3 {
    width: 520px;
    height: 273px;
  }

  .u-section-6 .u-text-9 {
    width: 520px;
  }

  .u-section-6 .u-text-10 {
    width: 520px;
  }

  .u-section-6 .u-text-11 {
    width: 520px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  /* .u-section-6 .u-sheet-1 {
    min-height: 3127px;
  } */

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    height: 227px;
    width: 340px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 205px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 90px;
  }

  .u-section-6 .u-text-7 {
    width: 320px;
  }

  .u-section-6 .u-image-3 {
    width: 320px;
    height: 168px;
  }

  .u-section-6 .u-text-9 {
    width: 320px;
  }

  .u-section-6 .u-text-10 {
    width: 320px;
  }

  .u-section-6 .u-text-11 {
    width: 320px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/file-20190515-60532-1lo0hf3.jpg");
}

.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-text-1 {
  margin: 211px auto;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 149px;
  }
} .u-section-8 {
  background-image: none;
}
  /* Removed empty space at bottom of accordion */
/* .u-section-8 .u-sheet-1 {
  min-height: 100vh;
} */

.u-section-8 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-8 .u-text-2 {
  width: 683px;
  line-height: 1.3;
  margin: 39px auto 0;
}

.u-section-8 .u-accordion-1 {
  width: 800px;
  margin: 51px auto 60px;
}

.u-section-8 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-8 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-8 .u-text-3 {
  line-height: 1.8;
  margin: 0;
}

.u-section-8 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 30px;
}

.u-section-8 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-8 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-8 .u-text-4 {
  line-height: 1.8;
  margin: 0;
}

.u-section-8 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 30px;
}

.u-section-8 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-8 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-8 .u-text-5 {
  line-height: 1.8;
  margin: 0;
}

@media (max-width: 991px) {
  .u-section-8 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-accordion-1 {
    width: 340px;
  }
}

/* KB CUSTOM */

.jump-arrow {
  margin: auto;
  max-width: 44px;
  padding-bottom: 60px;
}

/* Helper class to rotate graphics */
.rotate-180 {
  transform: rotate(180deg);
}